<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "STJ Student Opportunities" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "STJ Student Opportunities" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="" role="main">
      <div class="container-fluid">
        <div class="">
           <div class="row-fluid">
            <div class="span2">
              <ul class="nav nav-tabs nav-stacked">
                <li><a href="">Student Orgs</a></li>
                <li><a href="">Greek Orgs</a></li>
                <li><a href="">Academic Honor Societies</a></li>
                <li><a href="">University Honor Societies</a></li>
                <li><a href="">University Programs</a></li>
                <li><a href="">Graduate Assistantships</a></li>
                <li><a href="">Scholarships/Grants</a></li>
                <li><a href="">Job Opportunities</a></li>
                <li><a href="">Others</a></li>
                <li><a href="">Upcoming</a></li>
              <ul>
            </div>
            <div class="span10">
              <%= render 'layouts/messages' %>
              <%= yield %>

        
 
            </div>
          </div>

        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <footer>
            <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>